.App {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width:70%;
}

.Header {
  background-color: white;
  width: 100%;
  height: 50px;
  font-size: 25px;
  color: black;
  text-align: left;
  margin-left: 30%;
}

.CityList {
  float: left;
  background-color: rgb(221, 224, 200);
  width: 15%;
}

.CityTitle {
  height: 80px;
  padding-top: 40px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(221, 224, 200);
}

.City {
  height: 80px;
  padding-top: 40px;
  text-align: center;
}

.City:hover {
  background-color: rgb(6, 29, 29);
  color: white;
}

.Section {
  margin-left: 15%;
}

.Observations {
  background-color: white;
  display: inline-table;
  width: 450px;
}

.LatestTemperature {
  margin: 20px;
}

.LastHours {
  margin: 20px;
}

.AllObservations {
  margin: 20px;
}

.InputFormWrapper {
  margin: 20px;
}

.InputForm {
  background-color: white;
  display: inline-table;
  width: 450px;
}

.FormLabelInput {
  width: 50%;
  display: inline-table;
  margin-bottom: 20px;
}

.ShowOtherPage {
  width: 450px;
  height: 30px;
  background-color: rgb(221, 224, 200);
}

.ShowOtherPage:hover {
  background-color: rgb(6, 29, 29);
  color: white;
}

.SendButton {
  background-color: brown;
  color: white;
  width: 100px;
  height: 30px;
}

.SendButton:hover {
  background-color: rgb(6, 29, 29);
  color: white;
}

.InfoBox {
  color: purple;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: purple;
  margin: 20px;
  display: inline-table;
}

.InfoText {
  margin: 20px;
}

.CityName {
  text-align: center;
}

input {
  width: 100px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
}

th {
  font-size: 12px;
  font-style: normal;
}

td {
  border-style: groove;
}